@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
:root{
  --red : #D44C47;
  --blue : #337EA9;
  --green : #448361;
  --yellow : #EBD4AD;
  --purple : #9065B0;
  --pink : #C14C8A;
  --orange : #D9730D;
  --brown : #9F6B53;
  --smoke : #797875;
  --slate : #53514c;
  --green-bluh : #DBEDDB;
  --yellow-bluh : #FDECC8;
  --purple-bluh : #E8DEEE;
  --gray-bluh : #EDEDEC;
}
*{
  font-family: 'Noto Sans KR', sans-serif;
}
.svg{
  width: 32;
  height: 32;
}